[submodule "modules/modules/nixos-secrets"]
	path = modules/modules/nixos-secrets
	url = git@github.com:mdirkse/nixos-secrets.git
[submodule "modules/secrets"]
	path = modules/secrets
	url = git@github.com:mdirkse/nixos-secrets.git
